.DS_Store
target
.idea
*.iml
*.ipr
*.iws
*.swp
*.swo
*~
*.log
wiki
tags
*.releaseBackup
release.properties
pom.release.xml
*debuglog.txt
debuglog.txt
dependency-reduced-pom.xml
.cache
data
apps
build-number.txt